/*:root {
    --dask-blue: #233871;
    --light-gray: #f0f3fd;
    --light-blue: #b2c2f0;
    --light-blue-text: #96aae0;
    --orange: #de1f26;
    --dask-orange: #c7060d;
    --sub-menu-text: #5a7adb;
    --light-blue-bg: #3c5398;
}*/

.container-xl {
    max-width: 1140px;
}

.color-dask-blue {
    color: var(--dask-blue);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #f0f3fb;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--orange);
}

.w1\/2 {
    width: 50%;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
}

.wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--dask-blue);
    background-image: url('../images/wrapper-bg.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    display: flex;
    left: 0;
    top: 0;
}

.wrapper-admiss {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #f0f3fb;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

input:focus {
    outline: none;
    border-color: var(--orange);
}

input::placeholder {
    color: #a7b8e6;
    font-size: 14px;
}


/*------------*/

.header {
    background: var(--dask-blue) url("../images/bg-header.jpg") top center;
    background-size: cover;
    height: 320px;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}


/*wrapper-error*/

.wrapper-error {
    background: var(--dask-blue) url("../images/404_error.jpg") top center no-repeat !important;
    position: relative;
}

.box-error {
    margin: 0px auto;
    position: absolute;
    top: 84%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
}

.box-error .title-h2 {
    color: #fff;;
}

.back-home {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.back-home:hover {
    background: var(--orange);
    border: 1px solid var(--orange);
    color: #fff;
}

.box-error .fa-house {
    padding-right: 10px;
}

.no-tab {
    min-height: 50px;
}

.no-tab .link {
    margin-top: 5px;
}

.box-shadow {
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-10 {
    padding: 10px;
}

.color-blue {
    color: green;
}

.color-orange {
    color: var(--orange);
}

.mb-20 {
    margin-bottom: 20px;
}

.logo-top {
    margin-top: 0px;
}

.logo-top img {
    max-width: 100%;
    height: 130px;
}

.header-group {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.main-menu {
    margin-left: auto;
    display: flex;
}

.main-menu a {
    color: white;
    margin-left: 30px;
}

.btn-admission {
    background-color: var(--dask-orange);
    padding: 8px 12px;
    margin: 0 20px;
    color: white;
    border-radius: 6px;
}

.btn-admission:hover,
.btn-login-home:hover {
    background-color: var(--dask-blue);
    color: white;
}

.btn-login-home {
    background-color: white;
    padding: 8px 12px;
    color: var(--dask-blue);
    border-radius: 6px;
}

.page-content {
    margin-top: 45px;
}

.register-item {
    margin-bottom: 25px;
}

.register-item-box {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 6px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.register-item-box:hover {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
}

.register-item-box .title {
    background-color: var(--dask-blue);
    color: white;
    font-size: 18px;
    line-height: 26px;
    padding: 15px 15px 16px 15px;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: 10px;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 3;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.register-item-box:hover .title {
    background-color: var(--orange);
}

.register-item-box:hover .register-item-btn {
    color: var(--orange);
    border: solid 1px var(--orange);
}

.register-item-row {
    color: #222222;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
}

.register-item-row i {
    margin-right: 10px;
    color: #666;
}

.register-item-btn {
    width: 160px;
    height: 34px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 10px;
    border-radius: 50px;
    color: var(--dask-blue);
    margin-top: auto;
    /*margin-bottom: 15px;*/
}

.register-item-btn:hover {
    background: var(--orange);
    color: #fff;
    border: solid 1px var(--orange);
}

.register-item-row:last-child {
    justify-content: center;
}

.pagination-nb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 40px 0;
}

.pagination-nb li {
    padding: 0px 10px;
}

.pagination-nb a {
    display: flex;
    font-size: 24px;
    font-weight: 400;
    width: 40px;
    height: 40px;
    border: solid 1px transparent;
    color: #666666;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.pagination-nb a:hover {
    color: var(--dask-blue);
}

.pagination-nb .active a {
    border-color: var(--dask-blue);
    color: darkblue;
    font-weight: bold;
}

.pagination-nb .active a:hover {
    border-color: var(--dask-blue);
    color: #fff;
    background: var(--dask-blue);
}

.footer {
    background-color: white;
    padding-top: 40px;
    color: #222222;
    font-size: 14px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0px;
}

.footer-item {
    max-width: 340px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.footer-item i {
    font-size: 40px;
    color: var(--orange);
    margin-right: 15px;
}

.footer-item .top {
    color: #666666;
    text-decoration: underline;
    margin-bottom: 0;
    font-style: italic;
    margin-bottom: 5px;
}

.footer-item a {
    color: #222222;
}

.footer-end {
    border-top: solid 1px #d1d1d1;
    padding-top: 14px;
}

.footer-end p {
    margin-bottom: 8px;
}

.page-content-cover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 45px;
    min-height: 500px;
}

.table-file {
    font-size: 14px;
    color: #222222;
    margin-top: 5px;
}

.table-file tr td,
.table-file th {
    vertical-align: middle;
    padding: 0.4rem 0.5rem;
}

.show-in-mobi {
    display: none;
}

.table-file thead {
    background-color: var(--dask-blue);
    border: none;
    color: white;
    height: 50px;
}

.table-file thead th {
    font-weight: normal;
}

.text-dark-blue {
    color: var(--dask-blue);
}

.text-66 {
    color: #666666;
}

.table-file tbody tr {
    border-color: #f0f3fb;
}

.header-group i {
    margin-right: 5px;
}

.name-file {
    font-weight: bold;
}


/*user-drop*/

.user-drop {
    min-width: 250px;
    margin-top: 0px !important;
    padding-top: 0px !important;
    font-size: 14px;
    padding-bottom: 8px;
}

.img-user {
    background: #edf1fe;
    padding: 15px;
    margin-bottom: 10px;
    min-height: 88px;
}

.user-avata-img {
    width: 58px;
    height: 58px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.user-avata-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-user span {
    color: var(--dask-blue);
    font-weight: 500;
}

.img-user p {
    color: #96aae0;
    font-size: 12px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.user-drop li a {
    color: var(--dask-blue);
    font-weight: 400;
    padding: 0.35rem 1rem;
}

.user-drop li a i {
    margin-right: 10px;
}

.user-drop .dropdown-item:focus,
.user-drop .dropdown-item:hover {
    color: var(--orange);
    background-color: transparent;
}

.btn-user-image {
    border: 0px;
    background: transparent;
    color: #fff;
}

.btn-user-image .user-image {
    width: 34px;
    height: 34px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.btn-user-image .user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-user-image span {
    font-size: 15px;
    font-weight: 500;
    line-height: 34px;
}

.user-arrow {
    font-size: 10px;
    line-height: 34px;
    margin-left: 10px;
}


/*---*/

.admiss-text-header h3 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 700;
}

.lable-big {
    font-size: 32px;
    color: #ffc440;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    bottom: 25px;
}

.lable-big img {
    height: 48px;
    margin-right: 15px;
}

.btn-edit,
.btn-print {
    border: 0px;
    padding: 0.375rem 0.4rem;
}

.btn-edit i,
.btn-print i {
    color: var(--dask-blue);
    font-weight: 400;
    font-size: 18px;
}

.btn-edit:hover i,
.btn-print:hover i {
    font-weight: 700;
}


/*---------code 26-04-----------*/

.sv-registration .content-form-login:before,
.sv-registration .content-form-login:after {
    display: none;
}

.sv-registration .content-form-login {
    padding: 50px;
    margin-top: 0px;
    width: 100%;
    max-width: 100%;
}

.sv-registration .content-login {
    margin: 0px;
}

.sv-registration .modal-content {
    background: linear-gradient(to top, var(--light-gray), var(--light-blue));
}


/*-----------*/

.registration-notice .modal-dialog {
    width: 100%;
    max-width: 900px;
}

.registration-notice .modal-body {
    padding: 40px;
}

.info-school {
    padding-left: 20px;
    border-left: 4px solid var(--orange);
}

.info-school p {
    font-size: 14px;
    margin-bottom: 8px !important;
    padding-bottom: 0px;
    color: #666 !important;
}

.txt-tc {
    color: green !important;
    font-weight: bold;
    font-size: 34px !important;
}

.registration-notice p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px !important;
}

.registration-notice .hotline {
    color: var(--orange);
}

.sv-account {
    color: #0d6efd;
    padding-left: 30px;
    margin-bottom: 30px;
}

.sv-account p {
    color: var(--dask-blue) !important;
    font-weight: bold;
}

.avata-sv {
    float: left;
    margin-right: 20px;
}

.searchBoxElement {
    position: absolute;
    z-index: 999;
    width: calc(100% + 2px) !important;
    border: 1px solid #acbeec;
    background-color: white;
    top: 100%;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px;
    list-style: none;
    padding: 0;
    padding: 10px 0;
}

.searchBoxElement li span {
    display: block;
    padding: 5px;
    color: #222222 !important;
}

.searchBoxElement li.selected {
    background-color: var(--light-blue);
}

@media screen and (min-width: 1140px) {
    #phieuxettuyen .register-item {
        width: 20% !important;
        margin-bottom: 25px;
    }

    #phieuxettuyen .register-item-box .title {
        padding: 15px 8px 14px 8px;
    }
    #phieuxettuyen .register-item-row {
        line-height: 20px;
        margin-top: 8px;
    }
    #phieuxettuyen .register-item-row i {
        margin-right: 7px;
        margin-top: 2px;
    }
}