/*CỔNG TUYỂN SINH UWE BRISTOL - PHENIKAA CAMPUS*/

:root {
  --dask-blue: #233871;
  --light-gray: #f0f3fd;
  --light-blue: #b2c2f0;
  --light-blue-text: #96aae0;
  --orange: #f26522;
  --dask-orange: #f26522;
  --sub-menu-text: #5a7adb;
  --light-blue-bg: #3c5398;
}

.admiss-text-header h3 {
  display: none !important;
}

.lable-big {
  /* color: #233871 !important; */
  font-weight: 900;
  display: flex;
  align-items: center;
}

.main-menu a {
  /* color: var(--dask-blue) !important; */
}

.btn-admission {
  background-color: var(--dask-blue);
}

.btn-login-home {
  background-color: white;
  color: var(--dask-blue);
}

.btn-admission:hover,
.btn-login-home:hover {
  background-color: white !important;
  color: var(--dask-blue) !important;
}

.btn-login-home:hover {
  background-color: white !important;
  color: var(--orange) !important;
}

.info-school-item h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--dask-blue);
  margin-top: 10px;
  margin-bottom: 2px;
}

.info-school-item p {
  font-size: 13px;
  color: var(--orange);
  line-height: 18px;
  margin-bottom: 15px;
}

.info-school-item img {
  height: 64px;
}

@media screen and (min-width: 1140px) {
  #phieuxettuyen .register-item {
    padding: 0px 8px;
  }
  #phieuxettuyen .register-item-box .title {
    padding: 12px 8px 10px 8px !important;
    font-size: 17px !important;
    margin-bottom: 8px !important;
  }
  .register-item-row {
    padding: 0 10px;
    margin-top: 5px !important;
  }
  #info-school .info-school-item {
    width: 20% !important;
    padding: 0 10px;
  }
  .register-item-btn {
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .main-menu a,
  .header .lable-big {
    color: #fff !important;
  }
  .info-school-item p {
    font-size: 14px;
    line-height: 20px;
  }
  .avata-user {
    position: relative !important;
  }
}

/*--Code 7/7/2022 - */

.sv-info-detail-item {
  padding-right: 0px !important;
}

.sv-info-detail-item .text-lable-groud {
  position: relative;
}

.avata-user {
  width: 260px;
  height: 260px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-avata-user {
  border-radius: 400px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.add-avata {
  border-radius: 400px;
  overflow: hidden;
  width: 64px;
  height: 64px;
  position: absolute;
  background: var(--orange);
  right: 8px;
  bottom: 10px;
  border: 4px #fff solid;
  color: #fff !important;
  font-size: 28px;
  text-align: center;
  line-height: 56px;
  display: list-item;
}

.add-avata:hover {
  background: var(--dask-blue);
}

.sv-info-detail-item .text-lable span {
  color: var(--dask-blue) !important;
}

.sv-info-regis .col-stt {
  width: 23%;
}

.sv-info-regis .col-stt .text-lable {
  width: 60%;
}

.sv-info-regis .col-stt .col-md-7 {
  width: 40%;
}

.sv-info-regis .col-stt .input-group {
  width: 60px !important;
}

.sv-info-regis .col-stt .form-control {
  padding-left: 15px;
}

.sv-info-regis .col-branch {
  width: 40%;
}

.sv-info-regis .col-branch .col-md-3 {
  flex: 0 0 auto;
  width: 28%;
}

.sv-info-regis .col-branch .col-md-9 {
  flex: 0 0 auto;
  width: 72%;
}

.sv-info-regis .col-subject {
  width: 30%;
}

.sv-info-regis .col-delete {
  width: 6%;
}

.form-add-info .fa-angle-down {
  color: #acbeec;
}

/*css 24/06/2025*/
.btn-dask-blue {
  background-color: var(--dask-blue);
  color: white;
  border-color: var(--dask-blue);
}
.btn-dask-blue:hover {
  color: white;
  background-color: #112358;
}

.ad-fee-result .finance-dashboard {
  padding: 0;
  margin-top: 5px;
}
.ad-fee-result .finance-dashboard-item {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
.ad-fee-result .nav-tabs .nav-link {
  font-size: 16px;
  color: #666666;
}
.ad-fee-result .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--dask-blue);
  font-weight: 700;
}
.ad-fee-result .nav-tabs {
  margin-bottom: 20px;
}
.ad-fee-result .nav-tabs .nav-item {
  margin-right: 20px;
}
