/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf ) format('true type font');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.ttf ) format('true type font');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Roboto-Bold.ttf ) format('true type font');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Roboto-Black.ttf ) format('true type font');
}



