body {
    overflow-x: hidden;
}

.header {
    background: var(--dask-blue) url(../images/lephixettuyen-banner.jpg) top center;
}

.logo-top a {
    height: 130px;
    display: flex;
    align-items: center;
}

.logo-top img {
    max-width: 100%;
    height: auto;
}

.ad-fee .sv-add-info-content {
    padding: 30px 25px 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
}

.ad-fee-form .text-lable {
    color: #222222;
    text-align: left;
    font-weight: 500;
}

.ad-fee-form .btn {
    background-color: #f26522;
    width: 100%;
    color: white;
    font-weight: bold;
    min-height: 42px;
}

.ad-fee-form .btn:hover {
    background-color: var(--dask-blue);
}

.ad-fee-form .select2-selection.select2-selection--single {
    min-height: 42px;
    padding-left: 38px;
}
.sv-info-detail-item .form-control {
    padding-top: 8px;
}
.ad-fee-form .form-add-info .form-control {
    height: 42px;
}

.ad-fee .emty img {
    max-width: 100%;
}

.ad-fee-form .input-group i {
    top: 12px;
}

.ad-fee-form .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 4px;
}

.ad-fee-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #222222;
    line-height: 32px;
    padding-left: 0px;
}

.ad-fee .sv-info-detail-item {
    padding-right: 0;
}

.text-dark-blue {
    color: var(--dask-blue);
}

.ad-fee-result {
    font-size: 14px;
}

.fs-16p {
    font-size: 16px;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #e1e1e1;
}

.ad-fee-result .table-file thead {
    border: none;
    color: #222222;
    height: 45px;
    border-top: solid 1px #e1e1e1;
}

.ad-fee-result .table-file thead th {
    font-weight: bold;
}

.ad-fee-result .table-file tr td,
.ad-fee-result .table-file th {
    vertical-align: middle;
    padding: 0.8rem 0.5rem;
}

.ad-fee-result {
    padding:25px;
}

.title-under-line {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border-bottom: solid 1px #e1e1e1;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.title-under-line span::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--dask-blue);
    position: absolute;
    bottom: -10px;
}

.ad-fee-result .label {
    width: 115px;
    color: #666666;
}

@media (min-width: 769px) {
    td:first-child {
        width: 80px;
    }
}

.ad-fee-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #f26522;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.ad-fee-total .right {
    text-align: right;
}

.ad-fee-total .right .text-monney {
    color: #666666;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
}

.ad-fee-total .btn {
    height: 42px;
    border-color: #f26522;
    padding: 0 15px;
    min-width: 240px;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 42px;
    font-size: 16px;
    color: #f26522;
    border-radius: 6px;
}

.ad-fee-total .btn:hover {
    border-color: #f26522;
    color: #fff;
    background: #f26522;
}

.ad-fee-result .table {
    border: solid 1px #e1e1e1;
}

.ad-fee-result .table-file tbody tr {
    border-color: #e1e1e1;
}

.ad-fee-result .table-light {
    --bs-table-bg: #f4f4f4;
}