.footer {
    padding-top: 30px !important;
}

@media (min-width: 769px) {
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: var(--light-blue);
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: var(--dask-blue);
    }
}

@media (max-width: 1600px) {
    .dashboad-item,
    .w1\/2 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .slider-item {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .left-sidebar {
        width: 200px;
    }
    .friend-img {
        width: 48px;
    }
    .friend-name {
        font-size: 13px;
    }
    .content {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-bottom: 15px;
    }
    .dashboad-item,
    .w1\/2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .dashboad-title {
        font-size: 15px;
        line-height: 18px;
    }
    .about-short-text {
        -webkit-line-clamp: 9;
    }
    .content-page {
        width: calc(100vw - 200px);
    }
    .dashboad-about-img {
        height: 300px;
        aspect-ratio: auto;
    }
}

@media (max-width: 1360px) {}

@media (min-width: 900px) and (max-width: 1200px) {
    .logo-top img {
        height: auto;
    }
    .header .col-lg-5 {
        width: 20%;
    }
    .header .col-lg-7 {
        width: 80%;
    }
    .header {
        height: auto;
        min-height: 270px;
    }
}

@media (max-width: 1200px) {
    .search-group {
        width: 260px;
    }
}

@media (max-width: 1024px) {
    .lephixettuyen{
        margin-top: 25px;
    }
    .header-group {
        padding-top: 15px;
    }
    .logo-top img {
        height: auto;
    }
    .header .container-xl {
        z-index: 10;
        POSITION: RELATIVE;
    }
    .header::before {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        content: "";
        top: 0px;
        left: 0px;
        z-index: 1;
        position: absolute;
    }
    .lable-big {
        position: relative;
        bottom: 0px;
        font-size: 28px;
        margin-top: 15px;
        font-weight: 600;
        text-align: center;
    }
    .header {
        min-height: 210px;
        height: auto;
        padding-bottom: 20px;
    }
    .register-school-left {
        width: 28%;
    }
    .register-school-right {
        width: 72%;
        padding-left: 0px;
    }
    .search-group {
        width: 300px;
    }
    .subject-item {
        width: 33.33%;
    }
    .term-list li {
        width: 100%;
    }
    .register-school-right .lable {
        font-size: 13px;
        line-height: 15px;
        width: 15%;
    }
    .box-classroom-section .lable {
        width: 100%;
    }
    .edu-program-list,
    .plan-list,
    .term-list-box {
        width: 85%;
        padding-left: 0px;
        padding-right: 10px;
    }
    .plan span {
        float: left;
    }
    .classroom-section .classroom-section-item {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 0px;
    }
    .modal-change-calendar .classroom-section-item {
        width: 50%;
    }
    /*.classroom-button {*/
    /*    display: block !important;*/
    /*}*/
    /*.classroom-button .price {*/
    /*    width: 100%;*/
    /*}*/
    .filter-class .form-check {
        width: 50%;
    }
    .money-class-ul li i {
        margin-bottom: 6px;
        float: left;
        margin-top: 3px;
    }
    .detail-classroom .modal-dialog {
        width: 1000px;
        max-width: 1000px;
    }
    .avata-name .avata-img {
        border-radius: 6px;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    .header {
        background-size: cover !important;
    }
    .logo-top {
        width: 20%;
        padding-right: 0px;
        padding-top: 20px;
    }
    .logo-top a {
        height: auto;
    }
    .header .col-lg-7 {
        width: 80%;
    }
    .logo-top img {
        max-width: 100%;
        height: auto;
    }
    .header-group {
        padding-top: 15px;
    }
    .admiss-text-header h3 {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .logo-top a {
        height: auto;
        margin-bottom: 5px;
        display: block;
    }
    .header {
        padding-bottom: 10px;
    }
    .header-group {
        padding-top: 15px;
    }
    .register-item {
        width: 50%;
    }
    .footer {
        padding-top: 20px;
    }
    .col-stt .text-lable,
    .sv-lable-big {
        padding-left: 15px;
    }
    .sv-info-detail-item {
        padding-right: 0px;
    }
    .col-subject {
        width: 88%;
    }
    .sv-button .btn {
        width: 100%;
    }
    .col-delete .btn-delete {
        margin-top: 26px;
    }
    .col-branch {
        padding-right: 0px;
    }
    .admiss-text-header h3 {
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        line-height: 34px;
    }
    .lable-big img {
        height: 34px;
    }
    .lable-big {
        text-align: center;
    }
    .header {
        background: var(--dask-blue) url(../images/bg-header.jpg) top left;
        height: auto;
        overflow-x: hidden;
    }
    .mobi-flex {
        display: flex !important;
    }
    .table-file table,
    .table-file tbody,
    .table-file th,
    .table-file td,
    .table-file tr {
        display: block;
    }
    .table-file tr {
        padding: 10px 0px;
    }
    .table-file tr td:last-child,
    .table-file th:last-child {
        border-bottom-width: 0px;
    }
    .table-file thead {
        display: none;
    }
    .show-in-mobi {
        display: block;
    }
    .table-file .show-in-mobi {
        margin-right: 5px;
        color: #888;
        font-weight: 400 !important;
    }
    .table-file tr td,
    .table-file th {
        vertical-align: middle;
        padding: 0.4rem 1rem;
    }
    .table-file tr:nth-of-type(even) {
        background-color: #f0f3fb;
    }
    .table-file tr:nth-of-type(even) td {
        border-color: #e1e1e1;
    }
    .logo-top {
        text-align: center;
        margin-top: 0px;
    }
    .logo-top img {
        margin-top: 15px;
        height: auto;
    }
    .btn-login-home {
        margin-right: auto;
    }
    .modal-choose-2 .bg-classroom {
        padding: 20px 20px;
    }
    .class-registration .modal-content {
        min-width: 100%;
    }
    .class-registration .modal-body h1 {
        font-size: 24px;
    }
    .classroom-section-list .box-shadow {
        margin-bottom: 10px;
    }
    .classroom-section {
        padding: 15px 15px 15px 0px;
    }
    .register-school-right .lable {
        text-align: left;
        margin-bottom: 10px;
    }
    .term-list li {
        width: 100%;
    }
    .plan span {
        float: left;
        margin-top: 0px;
    }
    .left-sidebar {
        width: 0;
    }
    .content-page {
        width: 100%;
    }
    .in-mobi-group {
        position: fixed;
        display: flex;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: var(--dask-blue);
        z-index: 9999;
        height: 50px;
        align-items: center;
    }
    .copyright {
        display: none;
    }
    .nav-setting {
        margin: 0 auto;
    }
    .nav-notification {
        margin: 0 auto;
    }
    .logo-name {
        display: none;
    }
    .line-1,
    .line-2,
    .line-3 {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .menu-icon-mobi {
        position: fixed;
        margin-top: 12px;
        z-index: 99999;
        font-size: 24px;
        margin-left: 15px;
    }
    .logo {
        position: fixed;
        top: 5px;
        left: calc(50% - 22px);
        z-index: 1;
    }
    .search-group {
        width: 0;
        visibility: hidden;
        margin-left: 0;
        transition: ease .3s;
        margin-right: 0px;
    }
    .search-group.show {
        width: 90%;
        visibility: visible;
        margin-left: auto;
    }
    .mobi-search-icon {
        margin-left: auto;
        font-size: 24px;
        color: var(--light-blue-text);
    }
    .sidebar-menu {
        position: fixed;
        z-index: 999999;
        background-color: var(--dask-blue);
        height: calc(100vh - 100px);
        top: 54px;
        left: -300px;
        transition: ease 0.3s;
    }
    .sidebar-menu.show {
        left: -0;
    }
    .content {
        position: relative;
        height: calc(100vh - 105px);
        border-radius: 0;
    }
    .overlay {
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9998;
        display: none;
    }
    .navbar .dropdown-menu[data-bs-popper] {
        position: fixed;
        background-color: #fff;
        top: auto;
        bottom: 50px;
        z-index: 999;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .in-mobi-group,
    .search-group-in-mobi {
        display: flex;
        width: 100%;
        position: fixed;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .in-mobi-group {
        background-color: #fff;
        box-shadow: 0 -2px 6px rgb(0 0 0 / 10%);
    }
    .navbar button {
        color: var(--dask-blue);
    }
    .user-image i {
        color: var(--light-blue-text);
    }
    .navbar .dropdown-menu[data-bs-popper] {
        box-shadow: 0px -4px 10px 0px rgb(0 0 0 / 25%);
        -moz-box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0px -4px 10px 0px rgb(0 0 0 / 25%);
    }
    .menu-icon-mobi,
    .mobi-search-icon {
        display: block;
    }
    .dashboad-item {
        width: 50%;
        float: left;
    }
    .dashboad-item {
        margin-bottom: 80px;
    }
    .dashboad-item:last-child,
    .dashboad-item:nth-last-child(2) {
        margin-bottom: 20px !important;
    }
    .dashboad {
        padding: 30px 0 20px 0px;
    }
    .w1\/2 {
        width: 100%;
    }
    .db-container {
        padding-left: 0px;
        padding-right: 0;
    }
    .dashboad-about-img {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px;
    }
    .dashboad-about {
        display: block;
    }
    .dashboad-about-content {
        padding-left: 0px;
        margin-top: 20px;
    }
    .one-door .dashboad .dashboad-item {
        width: 50%;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
    }
    .one-door .dashboad .image img {
        height: 110px;
        bottom: auto;
        margin-top: -50px;
    }
    .header {
        background-size: cover !important;
    }
    .one-door .dashboad-attention {
        border-radius: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .one-door .dashboad-title {
        margin-top: 5%;
        padding: 0px;
        font-size: 18px;
    }
    .one-door .dashboad-item-box {
        aspect-ratio: 304 / 240;
    }
    .letters-block .dashboad-item {
        width: 100% !important;
        margin-top: 15px !important;
    }
    .one-door .letters-block .dashboad-item-box {
        aspect-ratio: 304 / 160;
    }
    .dashboad-search-filter {
        border-radius: 0px;
        padding: 8px 0px;
        margin: 1px 0px 0px 0px;
    }
    .search-group-don {
        min-width: 200px;
    }
    .filter-group .form-label {
        display: none
    }
    .modal {
        z-index: 99999;
    }
    .modal-button .btn {
        min-width: 150px;
    }
    .modal-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .modal-edit-file .sv-add-info-right,
    .modal-edit-file .sv-add-info-left {
        width: 100%;
    }
    .sv-add-info-content {
        display: block;
    }
    .modal-edit-file .sv-add-info-right {
        padding-right: 0px;
        margin-top: 20px;
    }
    .modal-edit-file .sv-button .btn {
        min-width: 150px;
    }
    .sv-add-info-content {
        flex-direction: column-reverse;
        padding: 0px 15px 15px 15px;
        display: flex !important;
    }
    .sv-add-info-left,
    .sv-add-info-right {
        width: 100%;
    }
    .form-item-1 {
        width: 100%;
        padding-left: 0px;
    }
    .sv-add-info-1 {
        display: block;
        margin-top: 20px;
    }
    .sv-add-info-full {
        padding-left: 0px;
    }
    .sv-add-info-full .form-add-info .form-label {
        min-width: 29%;
    }
    .sv-add-info-check .form-label {
        display: none;
    }
    .group-checkbox .form-check-label {
        max-width: 90%;
    }
    .sv-note {
        background: #f1ea8e;
        height: auto;
        color: var(--dask-blue);
        font-weight: 700;
        margin-left: 0px;
        margin-right: 0px;
        border-right: 0px solid #fff;
        padding: 15px;
        margin-bottom: 20px;
    }
    .sv-note br {
        display: none;
    }
    .sv-ground-button {
        height: auto;
    }
    .sv-button .btn {
        min-width: 170px;
    }
    .sv-button {
        margin-bottom: 11px;
    }
    /*    ----------*/
    .sv-add-info {
        margin-top: 0px;
    }
    .content-tab {
        padding: 12px 0px 0px 15px;
    }
    .money-class-detail {
        left: -15px;
        top: 40px;
    }
    .money-class-detail:after {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        left: 10px;
        top: -19px;
        content: "";
    }
    .money-class-detail:before {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #d1d1d1;
        left: 10px;
        top: -20px;
    }
    .register-school-left,
    .register-school-right {
        width: 100%;
        padding-left: 15px;
    }
    .register-school-right .lable,
    .term-list-box {
        width: 100%;
    }
    .edu-program-list,
    .plan-list,
    .term-list-box {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .edu-program a,
    .plan a {
        height: auto;
        line-height: 20px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    .classroom-section .classroom-section-item {
        padding-right: 10px;
        display: grid;
    }
    .register-school-right,
    .register-school-left {
        padding-right: 0px;
        padding-left: 0px;
    }
    .money-class-ul li:hover .money-class-detail {
        width: 107%;
        overflow-x: scroll;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .subject-item {
        width: 100%;
    }
    .modal-change-calendar .classroom-section-item {
        width: 100%;
        display: grid;
    }
    .table-subject .input-group {
        width: 100%;
    }
    .header-group {
        display: inline-block;
        align-items: center;
    }
    .header .col-lg-7 {
        text-align: center;
    }
    .header-group .list-unstyled li {
        margin-bottom: 20px;
    }
    .header-group {
        padding-top: 15px;
    }
    .header {
        background-size: cover !important;
    }
}

@media (max-width: 480px) {
    .lephixettuyen .table-file em{
        float: left;
    }
    .lephixettuyen .name-file {
        font-size: 14px;
        margin-top: -1px;
    }
    .lephixettuyen{
        margin: 0px !important;
    }
    .lephixettuyen .container-xl{
        margin: 0px !important;
        padding: 0px !important;
        border-radius: 0px !important;
    }
    .lephixettuyen .sv-add-info {
        border-radius: 0px !important;
    }
    .lephixettuyen .ad-fee-result {
        padding: 15px !important;
    }
    .lephixettuyen .sv-add-info-content {
        padding: 30px 15px !important;
    }
    .ad-fee-total .btn {
        height: 42px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    .ad-fee-result {
        padding: 15px 10px;
    }
    .ad-fee-total .right {
        text-align: left;
    }
    .lable-big {
        font-size: 24px;
    }
    .logo-top img {
        height: auto !important;
        max-width: 70% !important;
    }
    .register-item {
        width: 100%;
    }
    .admiss-text-header h3 {
        margin-top: 15px;
        font-size: 22px;
        line-height: 32px;
    }
    .header .lable-big {
        position: relative;
    }
    .table-subject .input-group {
        width: 100%;
    }
    .page-content,
    .footer-content {
        margin-top: 20px;
    }
    .sv-add-info {
        margin-bottom: 20px;
    }
    .footer {
        padding-top: 20px;
    }
    .name-file {
        font-size: 16px;
    }
    .file-admiss {
        margin-top: 0px;
    }
    .file-admiss .container-xl {
        padding: 0px;
    }
    .page-content-cover {
        border-radius: 0px;
        padding: 10px 0px;
        margin-bottom: 15px;
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 0%);
    }
    .header-group {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;
    }
    .btn-user-image span {
        display: none;
    }
    .btn-user-image .user-image {
        margin-right: 0px;
    }
    .main-menu {
        margin-left: inherit;
        min-width: 265px;
    }
    .main-menu a {
        margin: 0 15px 10px 15px;
        display: inline-block;
    }
    .btn-login-home {
        margin-right: inherit;
    }
    .btn-admission {
        margin: 0 10px;
    }
    .modal-change-calendar .classroom-section-item {
        width: 100%;
        display: grid;
    }
    .subject-item {
        width: 100%;
    }
    .sv-info-detail-lable {
        display: none;
    }
    .text-lable-groud,
    .text-lable {
        width: 100%;
        text-align: left;
    }
    .sv-info-profile .sv-info-detail {
        margin-left: 0px;
    }
    .text-lable-groud {
        padding-top: 0px;
    }
    .sv-info-detail-form hr {
        margin-top: 15px;
    }
    .text-lable {
        padding-top: 0px;
        padding-bottom: 5px;
        padding-right: 0px;
    }
    .sv-add-info-content.sv-info-profile {
        flex-direction: column;
        display: flex !important;
    }
    .sv-info-base-text .col-12 {
        flex: 0 0 auto;
        width: fit-content;
    }
    .sv-info-base-text span {
        padding-left: 0px;
    }
    .sv-info-base-text .sv-info-base-avata {
        margin-top: 20px;
    }
    .col-upload {
        padding-left: 12px;
    }
    .sv-add-info {
        border-radius: 10px;
    }
    .sv-info-base-avata {
        margin-top: 20px;
    }
    .sv-ground-button {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn-admission {
        padding: 8px 10px;
        margin: 0 15px;
    }
    .admiss-text-header h3 {
        text-align: center;
        max-width: 100%;
    }
    .header .col-lg-7 {
        width: 100%;
    }
    .logo-top img {
        max-width: 100%;
        height: 64px !important;
    }
    .lable-big {
        font-size: 24px;
    }
    .subject-item {
        width: 50%;
    }
    .money-class-detail {
        left: -15px;
    }
    .classroom-section .lable,
    .classroom-section .classroom-section-list,
    .term .lable,
    .term .term-list-box,
    .plan .lable,
    .plan .plan-list,
    .edu-program .lable,
    .edu-program .edu-program-list {
        width: 100%;
    }
    .plan a {
        float: left;
        margin-right: 15px;
    }
    .classroom-section-item {
        width: 50%;
    }
    .register-school-left,
    .register-school-right {
        width: 100%;
    }
    .dashboad-item:last-child,
    .dashboad-item:nth-last-child(2),
    .dashboad-item:nth-last-child(3),
    .dashboad-item:nth-last-child(4) {
        margin-bottom: 0px !important;
    }
    .dashboad-item-box {
        aspect-ratio: 1 / 0.74 !important;
    }
    .dashboad-title {
        margin-top: 54% !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .lephixettuyen  .sv-info-profile .col-md-6{
        width: 47%;
        padding-right: 0px;
    }
    .lephixettuyen  .sv-info-profile .col-md-3:first-child{
        width: 28%;
    }
    .footer-item {
        max-width: 100%;
        width: 50%;
    }
    .subject-item {
        width: 50%;
    }
    .dashboad {
        display: inline-block !important;
        padding: 30px 0 20px 0px;
    }
    .dashboad-item {
        width: 25%;
        float: left;
    }
    .dashboad-item:nth-child(1),
    .dashboad-item:nth-child(2),
    .dashboad-item:nth-child(3),
    .dashboad-item:nth-child(4) {
        margin-bottom: 50px;
    }
    .dashboad-item-box {
        aspect-ratio: 1 / 0.64;
    }
    .dashboad-title {
        margin-top: 42%;
    }
    .dashboad-item-box img {
        bottom: 45%;
    }
    .w1\/2 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .dashboad-item:nth-child(1),
    .dashboad-item:nth-child(2),
    .dashboad-item:nth-child(3),
    .dashboad-item:nth-child(4) {
        margin-bottom: 80px;
    }
}

@media (min-width: 769px) and (max-width: 799px) {
    .logo-top {
        text-align: center;
    }
    .logo-top img {
        height: 64px;
    }
    .admiss-text-header h3 {
        max-width: 100%;
        text-align: center;
    }
    .lable-big {
        font-size: 24px;
        text-align: center;
    }
    .header {
        background-size: cover !important;
    }
}

.header {
    background-position: top center !important;
}

@media (max-width: 820px) {
    .header::before {
        background: rgba(35, 56, 113, 0.6);
        width: 100%;
        height: 100%;
        content: "";
        top: 0px;
        left: 0px;
        z-index: 1;
        position: absolute;
    }
    .header .container-xl {
        z-index: 10;
        POSITION: RELATIVE;
    }
    .content-form-login {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        padding: 80px 20px 30px 20px;
    }
    .img-logo-w {
        max-height: 58px;
    }
    .logo-Phenikaa-w {
        margin-top: 30px;
    }
    .title-h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

@media (max-width: 601px) {
    .header-group {
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-top img {
        max-width: 100%;
        height: 84px;
    }
    .main-menu {
        /*margin-left: inherit;*/
        /*width: 100%;*/
        /*text-align: center;*/
        /*margin-right: inherit;*/
    }
}

@media (min-width: 1200px) {
    .register-school-left {
        width: 20%;
    }
    .register-school-right {
        width: 80%;
    }
}

@media (max-width: 319px) {
    .btn-admission {
        margin-bottom: 10px;
    }
    .logo-top img {
        height: auto !important;
    }
}

@media (max-width: 343px) {
    .btn-admission {
        margin: 0 10px 10px 10px;
    }
    .lable-big {
        font-size: 24px;
    }
}